beautifulsoup4==4.11.1
fpdf==1.7.2
ftfy==6.1.1
langdetect==1.0.9
nltk==3.8
pywin32==304
scikit_learn==1.2.0
skipthoughts==0.0.1
streamlit==1.14.1
streamlit_option_menu==0.3.2
talon==1.4.4
telegram==0.0.1
typing_extensions==4.4.0
win32printing==0.1.3
