
#vpt_hero, #jb_hero, #vpt_booking_hero, #vpt_quote_hero,#jb_booking_hero,#jb_quote_hero,  #all_bookings h3{
    text-align: center;
}

button.css-1x8cf1d.edgvbvh10{
    width: 40%;
    margin-left:30%;
    text-transform: uppercase;
}
#booking, #quote {
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #8C8C8C;
    border-radius:10px;
    padding: 15px 10px;
    text-align: center;
}

#booking h3, .css-1offfwp.e16nr0p34 p{
    text-align: center;
}

.small{
    color: #8C8C8C;
    margin-top: -10px;
    margin-bottom:0px;
    text-transform: capitalize;
}
.small.accepted{
    color: #3B7302;
    background-color: #EBF2B3;
    border: 1px solid #3B7302;
    width: 50%;
    margin-left: 25%;
    border-radius : 5px;

}
.small.rejected{
    color: #7F0000;
    background-color: #EE818D;
    border: 1px solid #7F0000;
    width: 50%;
    margin-left: 25%;
    border-radius : 5px;
}

.small.answered{
    color: #C77006;
    background-color: #FAC687;
    border: 1px solid #D97A07;
    width: 50%;
    margin-left: 25%;
    border-radius : 5px;

}

#booking .one-way{
    display: none;
}

#bookings_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
}

#booking.booking_item{
    width: 47%;
    margin-left: 0px;
    min-height:465px
}
#all-bookings{
    margin-top: 30px
}
