
#hero{
    text-align: center;
}

button.css-1x8cf1d.edgvbvh10{
    width: 40%;
    margin-left:30%;
    text-transform: uppercase;
}
#booking {
    padding-left: 30px;
    text-align: center;
}

#booking h3{
    text-align: center;
}
